<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
	<title>Nicholas Manna</title>
	<meta name="description" content="Personal Website" />
	<meta name="author" content="Nicholas Manna" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/default.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/component.css') }}" />
	<script src="{{ url_for('static', filename='js/modernizr.custom.js') }}"></script>
	<link rel="shortcut icon" href="{{ url_for('static', filename='static/terminal.ico') }}">
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	
	  ga('create', 'UA-64032002-1', 'auto');
	  ga('send', 'pageview');
	
	</script>
</head>
	<div class="container">
		<header>
			<h1>Nicholas Manna <span>Cheers to Work, Fun, Life<span></h1>
		</header>
		<section id="section-icons1">
		<div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a">
			<a href="http://github.com/manna422" class="hi-icon icon-github">GitHub</a>
			<a href="http://www.linkedin.com/pub/nicholas-manna/5a/208/933" class="hi-icon icon-linkedin">Linkedin</a>
			<a href="{{ url_for('static', filename='static/resume.pdf') }}" class="hi-icon icon-profile">Resume</a>
			<a href="mailto:manna422@gmail.com" class="hi-icon icon-mail2">Email</a>
			<a href="http://www.instagram.com/manna422/" class="hi-icon icon-instagram">Instagram</a>
		</section>
		<section id="section-blog">
		<div id="blog">
		<ul class="cbp_tmtimeline">
			{% for entry in entries %}
			<li>
				<time class="cbp_tmtime"><span>{{ entry.date }}</span> <span>{{ entry.time }}</span></time>
				<div class="cbp_tmicon icon-pencil2"></div>
				<div class="cbp_tmlabel">
					<h2>{{ entry.title }}</h2>
					{{ entry.text|safe }}
				</div>
			</li>
			{% endfor %}
		</ul>
		<div>
		</section>
	</div>

<body>
</body>

</html>
